@import url('https://fonts.googleapis.com/css?family=Lato&rel=stylesheet');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch|Permanent+Marker|Walter+Turncoat&rel=stylesheet');
@font-face {
  font-family: 'clock';
  src: url('clock.ttf');
}

$side-menu-bk: #2b2b2b;
$side-menu-txt: #e4e4e4;
$game-header-bk: #dedede;
$game-body-bk: #e9e9e9;
$button-bk: #36628a;
$button-txt: lighten($button-bk, 60%);
$button-clicked-bk: #7c7c7c;
$button-clicked-txt: lighten($button-clicked-bk, 40%);
$button-default-bk: #36628a;
$button-default-txt: #ececec;
$button-pass-bk: #9a4444;
$button-submit-bk: #44719a;
$button-erase-bk: #9a8c44;
$button-inactive-bk: #888888;
$progress-fg-color: #a9b1d2;
$progress-bg-color: #cccedb;
$progress-fg-color-text: #17301e;
$text-green: #357c43;

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}

.intro-text {
    max-width: 300px;
    margin: 20px auto 20px auto;
}

.total-points-display {
    color: #204479;
    font-size: 1.2em;
}

.bonus-points-display {
    font-size: 1.2em;
    color: $text-green;
}

.App {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: #ccc;
    min-height: 100vh;
    background-image: url(../images/grey.png);
}

.side-menu {
    text-align: center;
    background-image: url(../images/chalkboard.jpg);
    min-height: 100%;
    min-width: 250px;
    width: 0px;
    background-color: $side-menu-bk;
    color: $side-menu-txt;
}

.scores {
    display: inline-block;
    width: 90%;
}

.scorename {
    text-align: left;
    display: inline-block;
    width: 50%;
}

.scorescore {
    text-align: right;
    display: inline-block;
    width: 50%;
}

.game-container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.game-header {
    flex: 0.5;
}

.game-body {
    flex: 1;
}

.letter-click {
    border-bottom: 5px solid darken($button-bk, 8%);
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    color: $button-txt;
    display: inline-block;
    line-height: 55px;
    width: 60px;
    margin: 10px;
    background-color: $button-bk;
    &:hover {
        background-color: darken($button-bk, 5%);
    }
    &.clicked {
        cursor: default;
        border-bottom: 5px solid darken($button-clicked-bk, 8%);
        color: $button-clicked-txt;
        background-color: $button-clicked-bk;
        &:hover {
            background-color: $button-clicked-bk
        }
    }
}

.won-message {
    border-radius: 5px;
    margin: 10px auto 10px auto;
    padding: 10px;
    font-size: 1.5em;
    width: 200px;
    &.won {
        color: $text-green;
    }
    &.defeat {
        color: #a43838;
    }
}

.button {
    color: $button-default-txt;
    min-width: 100px;
    font-size: 1em;
    background-color: $button-default-bk;
    &:hover {
        background-color: darken($button-default-bk, 5%);
    }
    border-bottom: 3px solid darken($button-default-bk, 8%);
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    &.submit {
        background-color: $button-submit-bk;
        border-bottom: 3px solid darken($button-submit-bk, 8%);
        width: 120px;
        &:hover {
            background-color: darken($button-submit-bk, 5%);
        }
    }
    &.pass {
        background-color: $button-pass-bk;
        border-bottom: 3px solid darken($button-pass-bk, 8%);
        &:hover {
            background-color: darken($button-pass-bk, 5%);
        }
    }
    &.erase {
        background-color: $button-erase-bk;
        border-bottom: 3px solid darken($button-erase-bk, 8%);
        &:hover {
            background-color: darken($button-erase-bk, 5%);
        }
    }
    &.inactive {
        cursor: default;
        background-color: $button-inactive-bk;
        border-bottom: 3px solid darken($button-inactive-bk, 8%);
        &:hover {
            background-color: $button-inactive-bk;
        }
    }
}

.word-proposition {
    padding: 10px;
    font-size: 2em;
}

.timer-container {
    padding: 30px 0 20px 0;
}

.calculus-expression {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    color: #603c20;
    font-size: 1.3em;
}

#calculus-form {
    padding: 20px 0 10px 0;
}

#calculusGuess {
    border: 2px solid;
    font-size: 1.3em;
    text-align: center;
    max-width: 80px;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
}

.outro-text {
    padding: 50px;
    font-size: 1.3em;
}

// Circular timer
.CircularProgress-Bg {
    fill: none;
    stroke: $progress-bg-color;
}

.CircularProgress-Fg {
    fill: none;
    transition: stroke-dashoffset 0.25s ease-in-out;
    stroke: $progress-fg-color;
}

.CircularProgress-Text {
    font-family: 'clock';
    font-size: 40px;
    fill: $progress-fg-color-text;
    transform: translate(0 50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
