@import url('https://fonts.googleapis.com/css?family=Lato&rel=stylesheet');

$side-menu-bk: #2b2b2b;
$side-menu-txt: #e4e4e4;
$game-header-bk: #dedede;
$game-body-bk: #e9e9e9;
$button-bk: #36628a;
$button-txt: lighten($button-bk, 60%);
$button-clicked-bk: #7c7c7c;
$button-clicked-txt: lighten($button-clicked-bk, 40%);
$button-default-bk: #210aaa;
$button-default-txt: #ececec;
$button-pass-bk: #9a4444;
$button-erase-bk: #9a8c44;
$button-inactive-bk: #888888;

html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    background-color: #ccc;
    min-height: 100vh;
}

.side-menu {
    min-height: 100%;
    min-width: 200px;
    background-color: $side-menu-bk;
    color: $side-menu-txt;
}

.game-container {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color: #ccc;
}

.game-header {
    flex: 0.5;
    background-color: $game-header-bk;
}

.game-body {
    flex: 1;
    background-color: $game-body-bk;
}

.letter-click {
    border-bottom: 5px solid darken($button-bk, 8%);
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    color: $button-txt;
    display: inline-block;
    line-height: 55px;
    width: 60px;
    margin: 10px;
    background-color: $button-bk;
    &:hover {
        background-color: darken($button-bk, 5%);
    }
    &.clicked {
        cursor: default;
        border-bottom: 5px solid darken($button-clicked-bk, 8%);
        color: $button-clicked-txt;
        background-color: $button-clicked-bk;
        &:hover {
            background-color: $button-clicked-bk
        }
    }
}

.won-message {
    padding: 10px;
    font-size: 2em;
    &.won {
        color: #8feb98;
        background-color: #3e824e;
    }
    &.defeat {
        color: #e88b8b;
        background-color: #934848;
    }
}

.button {
    color: $button-default-txt;
    background-color: $button-default-bk;
    border-bottom: 3px solid darken($button-default-bk, 8%);
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    &.pass {
        width: 100px;
        background-color: $button-pass-bk;
        border-bottom: 3px solid darken($button-pass-bk, 8%);
        &:hover {
            background-color: darken($button-pass-bk, 5%);
        }
    }
    &.erase {
        width: 100px;
        background-color: $button-erase-bk;
        border-bottom: 3px solid darken($button-erase-bk, 8%);
        &:hover {
            background-color: darken($button-erase-bk, 5%);
        }
    }
    &.inactive {
        cursor: default;
        background-color: $button-inactive-bk;
        border-bottom: 3px solid darken($button-inactive-bk, 8%);
        &:hover {
            background-color: $button-inactive-bk;
        }
    }
}

.word-proposition {
    font-size: 2em;
}
